/.cache/
/.emacs-custom.el
/.emacs.desktop
/.emacs.desktop.lock
/auto-save-list/
/elpa/
/history
/org-roam.db
/transient/
/var/
/eshell/
/.dap-breakpoints
/.lsp-session-v1
/.mc-lists.el
/.org-id-locations
/bookmarks
/projects
/newsticker/
/parinfer-rust/
/recentf
/tramp
/forge-database.sqlite
/devdocs/
/session.1013a14ef5ce000172655886100000013470004
/dirvish/
/eln-cache/
/mastodon.plstore
/org-roam-sem/
